.mobile-header {
  grid-template-columns: .95fr;
  background-color: #353333; }

.mobile-navigation {
  grid-auto-columns: repeat(6, 1fr); }
  .mobile-navigation svg {
    font-size: 30px; }
    .mobile-navigation svg:hover {
      color: red; }
