@import '../../../../style/color.sass'

.series-description
    display: grid
    grid-row-gap: 10px
    color: $color5

.series-description--title
    color: $color2
    font:
        size: 26px
        weight: bold

.series-description--summary
    display: grid
    grid-template-columns: repeat(3,auto) 1fr
    grid-auto-flow: column
    grid-column-gap: 5px
    font:
        size: 17px

.episode-description-name
    &::before,
    &::after
        content: "\""

.episode-description-field
    margin-right: 5px
    &::after
        content: ":"
