.series-small-container,
.series-medium-container {
  display: grid;
  grid-template-columns: .95fr;
  grid-template-rows: auto 300px;
  justify-content: center;
  grid-row-gap: 8px; }

.series-medium-container {
  grid-template-rows: auto .95fr;
  grid-template-columns: .85fr;
  align-content: center; }

.element-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 15px; }
