.series-episode-container {
  display: grid;
  grid-template-rows: 50px 1fr; }

.series-season__list {
  display: grid;
  grid-auto-rows: minmax(50px, auto); }
  .series-season__list li {
    display: grid;
    grid-template-rows: 50px auto;
    align-items: center;
    cursor: pointer; }
    .series-season__list li span:hover {
      z-index: 999;
      background-color: #f1f1f1; }

.series-season--number {
  align-self: center;
  font-size: 22px; }

.series-episodes__list {
  display: grid; }
  .series-episodes__list li {
    grid-template-columns: .95fr;
    justify-content: center; }
    .series-episodes__list li:hover {
      background-color: #f00; }

.episodes-nav__button {
  text-align: center; }
