.main-app--mobile {
  grid-template-rows: 50px .95fr;
  grid-row-gap: 10px;
  align-content: center; }

.series-small-container--mobile,
.series-medium-container--mobile {
  grid-template-rows: auto 1fr; }

.element-list--mobile {
  grid-template-columns: 1fr; }
